* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
}

header {
  width: 100%;
  height: 40px;
  background: #ebebe9;
  box-shadow: 55px -2px 8px -1px #000;
}

section {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 25px;
}

section #left-bar{
  position: absolute;
  width: 55px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ebebe9;
  box-shadow: -3px 8px 8px #000;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  background: #00f8f8;

}

#logo {
  padding: 5px;
}

#logo img {
  height: 30px;
  width: 30px;
  padding-left: 10px;
}

#menu {
  position: absolute;
  left: 55px;
  top: 9px;
  bottom: 0;
  right: 0;
  z-index: 1;
}

#menu ul li {
  list-style: none;
  float: left;
  height: 40px;
}

#menu ul li a {
  text-decoration: none;
  padding: 12px;
  color: #000;
  font-size: 13px;
  text-align: center;
  cursor: default;
}

#menu ul li:hover a {
  background: #0468ff77;
  border-radius: 2px;
}

#menu ul li:hover #list {
  display: block;
}

#file ul {
  background: #ebebe9;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.404);
  display: none;
}

#file ul li {
  float: none;
  font-size: 13px;
  height: 25px;
}

#file ul li div p {
  float: left;
  padding-top: 4px;
  cursor: default;
}

#file ul li div span {
  float: right;
  padding-top: 4px;
  cursor: default;
}

#file ul li div {
  height: 25px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;

}

#file #line {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #000;
}

#file ul li div:hover {
  background: #0468ff77;
}

#edit ul {
  background: #ebebe9;
  position: absolute;
  top: 32px;
  left: 66px;
  right: 0;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.404);
  display: none;
}

#edit ul li {
  float: none;
  font-size: 13px;
  height: 25px;
}

#edit ul li div p {
  float: left;
  padding-top: 4px;
  cursor: default;
}

#edit ul li div span {
  float: right;
  padding-top: 4px;
  cursor: default;
}

#edit ul li div {
  height: 25px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;

}

#edit #line {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #000;
}

#edit ul li div:hover {
  background: #0468ff77;
}

#select ul {
  background: #ebebe9;
  position: absolute;
  top: 32px;
  left: 131px;
  right: 0;
  width: 320px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.404);
  display: none;
}

#select ul li {
  float: none;
  font-size: 13px;
  height: 25px;
}

#select ul li div p {
  float: left;
  padding-top: 4px;
  cursor: default;
}

#select ul li div span {
  float: right;
  padding-top: 4px;
  cursor: default;
}

#select ul li div {
  height: 25px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;

}

#select #line {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #000;
}

#select ul li div:hover {
  background: #0468ff77;
}

#view ul {
  background: #ebebe9;
  position: absolute;
  top: 32px;
  left: 199px;
  right: 0;
  width: 240px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.404);
  display: none;
}

#view ul li {
  float: none;
  font-size: 13px;
  height: 25px;
}

#view ul li div p {
  float: left;
  padding-top: 4px;
  cursor: default;
}

#view ul li div span {
  float: right;
  padding-top: 4px;
  cursor: default;
}

#view ul li div {
  height: 25px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  border-radius: 3px;

}

#view #line {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #000;
}

#view ul li div:hover {
  background: #0468ff77;
}

