* body {
    padding: 0;
    margin: 0;
    background: rgba(170, 169, 169, 0.836);
}

.left-bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    color: #f3f3ef;
    background-color:#fafafa;
}
.left-bar p{
    width: 28px;
    height: 28px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.left-bar p img{
    height: 28px;
    width: 28px;
    position: absolute;
    left: 11px;
    filter:contrast(10%);
}

.left-bar p:hover img{
    filter:contrast(100%);
}
